@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --black: #000505ff;
  --primary: #3b3355ff;
  --secondary: #5d5d81ff;
  --tertiary: #bfcde0ff;
  --white: #fefcfdff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-uld-primary {
  background-color: var(--primary);
}
.bg-uld-secondary {
  background-color: var(--secondary);
}
.bg-uld-tertiary {
  background-color: var(--tertiary);
}
.bg-uld-white {
  background-color: var(--white);
}
.bg-uld-black {
  background-color: var(--black);
}

.uld-primary {
  color: var(--primary);
}
.uld-secondary {
  color: var(--secondary);
}
.uld-tertiary {
  color: var(--tertiary);
}
.uld-white {
  color: var(--white);
}
.uld-black {
  color: var(--black);
}

body {
  background: #eee;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background-color: var(--tertiary);
  color: var(--white);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: -0.07em;
}

#carousel .carousel-item.boat {
  background-image: url("images/bg1.jpg");
}
#carousel .carousel-item.sea {
  background-image: url("images/bg2.jpg");
}
#carousel .carousel-item.river {
  background-image: url("images/bg3.jpg");
}
#carousel .carousel-item {
  height: 100vh;
  width: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}
#carousel .carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}
#carousel .carousel-item .caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  color: white;
  animation-duration: 1s;
  animation-delay: 2s;
}
#carousel .caption h2 {
  animation-duration: 1s;
  animation-delay: 2s;
}
#carousel .caption p {
  animation-duration: 1s;
  animation-delay: 2.2s;
}

#carousel .caption a {
  animation-duration: 1s;
  animation-delay: 2.4s;
}
.delicious-btn {
  display: inline-block;
  min-width: 160px;
  height: 60px;
  color: #fff;
  border: none;
  border-left: 3px solid #1c8314;
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 58px;
  font-weight: 600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  background: #40ba37;
}
.delicious-btn:hover,
.delicious-btn:active,
.delicious-btn:focus {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #1c8314;
  border-color: #40ba37;
}

.uld-btn-secondary {
  display: inline-block;
  min-width: 160px;
  height: 60px;
  color: var(--white);
  border: none;
  border-left: 3px solid var(--tertiary);
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 58px;
  font-weight: 600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  background: var(--secondary);
}

.uld-btn-small-secondary {
  display: block;
  min-width: 160px;
  color: var(--white);
  border: none;
  border-radius: 0;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  background: var(--secondary);
}

.uld-btn-small-primary {
  display: block;
  min-width: 160px;
  color: var(--white);
  border: none;
  border-radius: 0;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  background: var(--primary);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 17;
  width: 100%;
}

.header-scrolled {
  background: linear-gradient(
    90deg,
    rgba(59, 51, 85, 1) 0%,
    rgba(93, 93, 129, 1) 100%
  );
}

section {
  height: 100vh;
  position: relative;
}

section + section {
  padding-top: 172px;
}

footer a {
  font-size: 11px;
  padding: 4px 8px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

footer a:hover {
  color: var(--primary);
  text-decoration: none;
  background-color: var(--tertiary);
}

.about-section {
  background: url("images/about-section.jpg") no-repeat center center fixed;
  background-size: cover;
}

.about-section-inner {
  position: relative;
  background-color: #000000a0;
}

.about-section-inner::before {
  content: "";
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border: 4px solid var(--white);
  display: block;
  position: absolute;
  top: -8px;
  left: -8px;

  z-index: 1;
}

.about-section-inner::after {
  content: "";
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border: 4px solid var(--black);
  display: block;
  position: absolute;
  top: -8px;
  left: -8px;
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 100%, 0% 25%);
  z-index: 2;
  animation: moving-clip-path 20s linear infinite;
}
.scroll-down {
  position: absolute;
  z-index: 16;
  bottom: 24px;
  right: 24px;
  transition: all 1s ease-in-out;
  animation: move-down 2.5s linear infinite;
}

@keyframes move-down {
  0% {
    transform: translateY(0);
  }
  8% {
    transform: translateY(20%);
  }
  68% {
    transform: translateY(0);
  }
  76% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes moving-clip-path {
  0% {
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 100%, 0% 25%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 100% 100%, 0 100%, 0% 25%);
  }
  0% {
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 100%, 0% 25%);
  }
}

.quote {
  position: relative;
  letter-spacing: 0.03em;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.quote:before {
  content: "“";
  position: absolute;
  left: -0.7em;
}

.quote:after {
  content: "”";
  margin-right: -1rem;
}

.quote--container {
  width: 75%;
  border-bottom: 2px dotted var(--tertiary);
  padding-bottom: 0.5rem;
  margin: 36px 24px;
}

.quote--author {
  font-size: 0.8rem;
  text-align: right;
  font-weight: 300;
}
